
.bgr{
	/*apa itu edutech*/
	background-color: yellow;
}

.kuning{
	/*pelajari di edutech*/
	background-color: yellow;
}

.kotak{
	/*background putih content*/
	width: 100px;
	height: 200px;
	background-color: white;
	color: black
}

.kuning2{
	background-color: yellow;
}